


body{
    padding:0;
    margin:0;
    display: block;
}

.chat__container{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.chat__section{
    display: flex;
    height: 100vh;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    flex-basis : 70%;
    flex-direction: column;
    justify-content: space-between;
}
.chat__section .chat__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;


}
.chat__section .chat__header .chat__header__left{
    display: flex;
    align-items: center;
}


.chat__section .chat__header .chat__header__left img{
    margin-right: 10px;
}

.chat__section .chat__input{
    display: flex;
    height: 10vh;
    align-items: center;

}
.chat__section .chat__input button{
   
    width: 100%;
    flex-basis: 10%;
    font-size: 1.4rem;

}
.chat__section .chat__input input{
   
    width: 100%;
    flex-basis: 90%;
    font-size: 1.4rem;
    height: 8vh;
    text-align:justify;
    padding: 5px;

}

.chat__section .message__Section {
    height: calc(80vh - 20px);
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    column-gap: 110px ;
    overflow-y: scroll;
    scrollbar-width: 0px;

}


::-webkit-scrollbar {
    width: 0px;
  
}

.chat__section .message__Section .messageFromMe{
    display: flex;
    margin: 10px;
    
    gap: 10px;
    align-self: flex-end;
    flex-direction: row-reverse;
}
.chat__section .message__Section .message{
    display: flex;
    margin: 10px;
    gap: 10px;
    align-self: flex-start;
    flex-direction: row;
}
.chat__section .message__Section img{
   width: 40px;
}


.chat__section .message__Section .message__content{
    padding: 10px;
    padding-left: 0;
    background-color: #2D3748;
    border-radius: 10px;
}
.chat__section .message__Section .message__content p{
    color:white
}

.chat__header__info{
    margin-right: 10px;

}


.no_contact{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.side__bar{
    display: flex;
    flex-direction: column;
    flex-basis : 30%;
    position: sticky;
    top: 0;    

}


/* hada howa container t3 messages*/

.test{
    height: 70vh;
    overflow-y: scroll;
}

.side__bar .header__container .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: calc(15vh - 20px) ;
}

.side__bar .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side__bar .header__container .top img{
    margin-top: 20px;
    width: 10%;
    height: 50%;
}

.side__bar .header__container input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #2D3748;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}



.side__bar .contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}

.side__bar .contact_selected{
 
    background-color: rgb(54, 58, 67);
}
.side__bar .contact .contact__details{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.side__bar .contact .contact__details p {
        margin: 5px;
        font-size: 14px;
        color:grey;
        font-weight: 400;
}
.side__bar .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    position: sticky;
    background-color:rgb(26,32,44) ;
    bottom: 0;
    width: 90%;

}
.contact__button {
    display: flex;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 100%;
    height: 20%;
    padding: 0em 0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(26,32,44);
    cursor: pointer;
    transition: border-color 0.25s;
}





img {
    width: 60px;
    border-radius: 50%;
    object-fit: cover;

}

input{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color:#2D3748;
    font-size: 1.2rem;
    flex-basis:100%;
}


